<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define ProductName="Миакро Rabnet" ?>
  <!--?define ProductVersion="1.0.0.0" ?-->
  <!-- ?define ProductCode="b7bc7c6f-9a4e-4973-be84-eca8e3427c97"?-->
  <?define ProductCode="*"?>
  <?define UpgradeCode="8F4BB748-14F8-47B7-8F35-C567F0A1B29A"?>
  <?define Manufacturer="NewBit"?>
  <Product Id="$(var.ProductCode)" Name="$(var.ProductName)" Language="1049" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">
    
    <Package Description="Rabnet $(var.ProductVersion)" InstallerVersion="400" Compressed="yes" />

    <Media Id="1" Cabinet="rabnet.cab" EmbedCab="yes" />

    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Minimum="$(var.ProductVersion)" IncludeMinimum="no" OnlyDetect="yes" Property="NEWERVERSIONDETECTED" />
      <UpgradeVersion Minimum="0.0.0" IncludeMinimum="yes" Maximum="$(var.ProductVersion)" IncludeMaximum="no" Property="OLDERVERSIONBEINGUPGRADED" />
    </Upgrade>

    <Property Id="FARMHERE" Value="yes" />

    <Condition Message="Установлена более новая версия продукта"><![CDATA[NOT NEWERVERSIONDETECTED]]></Condition>


    <PropertyRef Id="NETFRAMEWORK20"/>
    <!-- Condition Message='This setup requires the .NET Framework 2.0 to be installed.'>
      <![CDATA[Installed OR NETFRAMEWORK20]]>
    </Condition-->

    <CustomAction Id="SetupNETFXAssign" Property="NETINSTALLER" Value="[CURRENTDIRECTORY]\$(var.NetInstaller)" />
    <!--CustomAction Id="SetupNETFX" Property="NETINSTALLER" ExeCommand='/q /c:"install.exe /q"' /-->
    <CustomAction Id="SetupNETFX" Property="NETINSTALLER" ExeCommand=' /c:"install.exe /l c:\dd_netfx20.txt /qb"' />

    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize" />
      <Custom Action="SetupNETFXAssign" After="RemoveExistingProducts" />
      <!--Custom Action="SetupMysqlAssign" After="SetupNETFXAssign" />
      <Custom Action="RabnetUpdateAssign" After="SetupMysqlAssign" /-->
      <Custom Action="SetupNETFX" After="SetupNETFXAssign">NOT Installed AND NOT NETFRAMEWORK20</Custom>
      <!--Custom Action="SetupMysql" After="RabnetUpdateAssign">NOT Installed AND (FARMHERE="yes") AND (NOT HASMYSQL="1")</Custom>
      <Custom Action="RabnetUpdate" After="InstallFinalize">NOT Installed</Custom>
      <Custom Action="DeleteUpdater" After="RabnetUpdate">NOT Installed</Custom> -->
    </InstallExecuteSequence>


    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLLOCATION" Name="Миакро RabNet">
          <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
          <Component Id="Rabnet" Guid="3D19CA32-71E7-4A06-B323-142F4C03DB42">
<!--            <File Id='Calc' DiskId='1' Source='C:\WINDOWS\system32\calc.exe' KeyPath='yes'>
              <Shortcut Id="ShortcutCalc" Name="Calc" Description="$(var.ProductName)" Directory="ApplicationProgramsFolder" Advertise="yes" Icon="calc.exe" IconIndex="0" />
            </File>-->
            <File Id="rabnet.exe" Source="$(var.ProjectDir)\rabnet.exe" Checksum="yes" KeyPath="yes"/>
            <File Id="db.mysql.dll" Source="$(var.ProjectDir)\db.mysql.dll" Checksum="yes" />
            <File Id="engine.dll" Source="$(var.ProjectDir)\engine.dll" Checksum="yes" />
            <File Id="Mysql.Data.dll" Source="$(var.ProjectDir)\Mysql.Data.dll" Checksum="yes" />
            <File Id="RdlEngine.dll" Source="$(var.ProjectDir)\RdlEngine.dll" Checksum="yes" />
            <File Id="RdlViewer.dll" Source="$(var.ProjectDir)\RdlViewer.dll" Checksum="yes" />
          </Component>
          <Directory Id="ReportsDir" Name="reports">
            <Component Id="RabnetReports" Guid="AF1369D3-6231-4FE8-8884-7ECDA59DE059">
              <File Id="age.rdl" Source="$(var.ProjectDir)\reports\age.rdl" Checksum="yes" />
              <File Id="breeds.rdl" Source="$(var.ProjectDir)\reports\breeds.rdl" Checksum="yes" />
              <File Id="by_month.rdl" Source="$(var.ProjectDir)\reports\by_month.rdl" Checksum="yes" />
              <File Id="dead.rdl" Source="$(var.ProjectDir)\reports\dead.rdl" Checksum="yes" />
              <File Id="deadreason.rdl" Source="$(var.ProjectDir)\reports\deadreason.rdl" Checksum="yes" />
              <File Id="empty_rev.rdl" Source="$(var.ProjectDir)\reports\empty_rev.rdl" Checksum="yes" />
              <File Id="fucker.rdl" Source="$(var.ProjectDir)\reports\fucker.rdl" Checksum="yes" />
              <File Id="fucks_by_date.rdl" Source="$(var.ProjectDir)\reports\fucks_by_date.rdl" Checksum="yes" />
              <File Id="okrol_user.rdl" Source="$(var.ProjectDir)\reports\okrol_user.rdl" Checksum="yes" />
              <File Id="plem.rdl" Source="$(var.ProjectDir)\reports\plem.rdl" Checksum="yes" />
              <File Id="rabbit.rdl" Source="$(var.ProjectDir)\reports\rabbit.rdl" Checksum="yes" KeyPath="yes" />
              <File Id="realization.rdl" Source="$(var.ProjectDir)\reports\realization.rdl" Checksum="yes" />
              <File Id="replace_plan.rdl" Source="$(var.ProjectDir)\reports\replace_plan.rdl" Checksum="yes" />
              <File Id="shed.rdl" Source="$(var.ProjectDir)\reports\shed.rdl" Checksum="yes" />
              <File Id="zooteh.rdl" Source="$(var.ProjectDir)\reports\zooteh.rdl" Checksum="yes" />
              <File Id="zooteh_nofuck.rdl" Source="$(var.ProjectDir)\reports\zooteh_nofuck.rdl" Checksum="yes" />
            </Component>
          </Directory>
          <Component Id="Rabdump" Guid="5848AC09-3D14-4d2b-A33E-9B9ACB547AB9">
            <File Id="GrdAPI32.dll" Source="$(var.ProjectDir)\GrdAPI32.dll" Checksum="yes" />
            <File Id="rabdump.exe" Source="$(var.ProjectDir)\rabdump.exe" Checksum="yes" KeyPath="yes"/>
            <File Id="key.dll" Source="$(var.ProjectDir)\key.dll" Checksum="yes" />
            <File Id="updater.exe" Source="$(var.ProjectDir)\..\tools\updater.exe" Checksum="yes" />
          </Component>
          <!-- Component Id="RabdumpConfig" Guid="2A564984-93CE-4209-A09F-CB2106286C9F" NeverOverwrite="yes" Permanent="yes"-->
          <Component Id="RabdumpConfig" Guid="2A564984-93CE-4209-A09F-CB2106286C9F" NeverOverwrite="yes">
            <File Id="rabdump.exe.config" Source="$(var.ProjectDir)\rabdump.exe.config" Checksum="yes"/>
          </Component>
          <Component Id="Common" Guid="EE27F990-355B-45da-9A8C-7AF34933C7E5">
            <File Id="mia_conv.exe" Source="$(var.ProjectDir)\mia_conv.exe" Checksum="yes" />
            <File Id="log4net.dll" Source="$(var.ProjectDir)\log4net.dll" Checksum="yes" />
          </Component>
          <!--            <File Id='Notepad' DiskId='1' Source='C:\WINDOWS\system32\notepad.exe' KeyPath='yes'>
              <Shortcut Id="ShortcutNotepad" Name="Notepad" Description="$(var.ProductName)" Directory="ApplicationProgramsFolder" Advertise="yes" Icon="np.exe" IconIndex="0" />
            </File> -->
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.ProductName)">
          <Component Id="RemoveShortcut" Guid="4CEBD68F-E933-47f9-B02C-A4FC69FDB551">
            <Shortcut Id="UninstallShortcut" Name="Удалить Миакро Rabnet" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" />
            <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
            <RegistryValue Root="HKCU" Key="Software\$(var.Manufacturer)\$(var.ProductName)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
          </Component>
          <Component Id="RabnetShortcut" Guid="AF3A8D64-6BEE-4495-B2E6-0360E04ABDA4">
            <Shortcut Id="RabnetShortcut" Name="Миакро Rabnet" Description="$(var.ProductName)" Target="[INSTALLLOCATION]rabnet.exe" WorkingDirectory="INSTALLLOCATION" />
            <RegistryValue Root="HKCU" Key="Software\$(var.Manufacturer)\$(var.ProductName)\Rabnet" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
          </Component>
          <Component Id="RabdumpShortcut" Guid="DA7AC450-E2AD-4538-A1D0-730B098CEE4C">
            <Shortcut Id="RabdumpShortcut" Name="Rabdump" Description="$(var.ProductName)" Target="[INSTALLLOCATION]rabnet.exe" WorkingDirectory="INSTALLLOCATION" />
            <RegistryValue Root="HKCU" Key="Software\$(var.Manufacturer)\$(var.ProductName)\Rabdump" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="RabnetFull" Title="9bits Миакро Rabnet" Level="1" ConfigurableDirectory='INSTALLLOCATION' AllowAdvertise='no' Absent='disallow' Display='expand' InstallDefault='local'>
      <ComponentRef Id="RemoveShortcut" />
      <Feature Id="Common" Title="Общие компоненты" Level="2" AllowAdvertise='no' Absent='disallow' InstallDefault='local' Description='Основные компоненты которые нужны для работы Миакро Rabnet'>
        <ComponentRef Id="Common" />
      </Feature>
      <Feature Id="Rabnet" Title="Клиент Миакро Rabnet" Level="2" AllowAdvertise='no' Absent='disallow' InstallDefault='local' Description='Клиентская часть программ для Миакро Rabnet'>
        <ComponentRef Id="Rabnet" />
        <ComponentRef Id="RabnetReports" />
        <ComponentRef Id="RabnetShortcut" />
      </Feature>
      <Feature Id="RabDump" Title="Сервер Миакро Rabnet" Level="2" AllowAdvertise='no' Description='Серверная часть программ для Миакро Rabnet'>
        <ComponentRef Id="Rabdump" />
        <ComponentRef Id="RabdumpConfig" />
        <ComponentRef Id="RabdumpShortcut" />
      </Feature>
    </Feature>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" ></Property>
    
    <Property Id='ARPNOREPAIR'>1</Property>

    <Property Id='ARPCOMMENTS'>any comments</Property>
    <Property Id='ARPCONTACT'>contact info</Property>
    <Property Id='ARPHELPLINK'>URL for technical support</Property>
    <Property Id='ARPURLINFOABOUT'>URL for general info about the product</Property>
    <Property Id='ARPURLUPDATEINFO'>URL for product updates</Property>
    <Property Id='ARPHELPTELEPHONE'>URL for technical support</Property>
    <Property Id='ARPREADME'>path</Property>
    <Property Id='ARPSIZE'>10000</Property>
    
    <WixVariable Id="WixUILicenseRtf" Overridable="yes" Value="$(var.ProjectDir)\..\..\src\docs\licenseansi.rtf"/>
    <UIRef Id="WixUI_FeatureTree"/>
   
    <!--Icon Id="rabnet.exe" SourceFile="$(var.ProjectDir)\rabnet.exe" />
    <Icon Id="rabdump.exe" SourceFile="$(var.ProjectDir)\rabdump.exe" /-->
    <!-- Icon Id="np.exe" SourceFile="C:\WINDOWS\system32\notepad.exe" /-->

  </Product>
</Wix>
