<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="rabdumpOptions" type="rabdump.RabdumpConfigHandler,rabdump"/>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
    </configSections>
    <rabdumpOptions>
      <mysql>C:\Program Files\MySQL\MySQL Server 5.0\bin\mysql.exe</mysql>
      <mysqldump>C:\Program Files\MySQL\MySQL Server 5.0\bin\mysqldump.exe</mysqldump>
      <z7>C:\Program Files\7-Zip\7z.exe</z7>
      <db>
        <name>Новая Ферма</name>
        <host>localhost</host>
        <db>kroliki</db>
        <user>kroliki</user>
        <password>krol</password>
      </db>
      <job>
        <name>Все БД в 18:00</name>
        <db>[все]</db>
        <path>C:\Documents and Settings\Gam6it\Мои документы\Miakro Backups</path>
        <sizelim>0</sizelim>
        <countlim>0</countlim>
        <start>01.01.2010 18:00</start>
        <type>Ежедневно</type>
        <repeat>0</repeat>
      </job>
    </rabdumpOptions>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="dumplog.txt" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger{2} [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
</configuration>