<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
  <configSections>
    <section name="rabnetds" type="rabnet.RabnetConfigHandler,rabnet"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <rabnetds>
    <dataSource name="main db" type="db.mysql" param="server=localhost;userId=kroliki;password=krol;database=kroliki"/>
    <dataSource name="miaFile" type="db.miafile" param="D:\Projects\kroliki\bin\Farm.mia"/>
    <dataSource name="db_2" type="db.mysql" param="server=localhost;userId=kroliki;password=krol;database=test"/>
  </rabnetds>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger{2} [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="log.txt" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger{2} [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
</configuration>
